@charset "utf-8";
/* CSS Document */

.wrap { width:100%;margin:0 auto; display:block;}
/*top*/
.sjhl_top { height:35px; background-color:#1ba3dd;}
.top_info { width:448px;margin:0 auto;line-height:35px;padding-left:700px;}
.top_info a:link,.top_info a:visited { color:#f7fea1;font-size:12px; text-decoration:none;}
.top_info a:hover { color:#f7fea1;font-size:12px; text-decoration:none; }
.cion_head { float:left;padding-left:21px; display:inline-block; background:url(/images/T_EventList/cion_head.jpg) 0 7px no-repeat;margin-right:16px;}
.cion_reg { float:left;padding-left:21px; display:inline-block; background:url(/images/T_EventList//cion_reg.jpg) 0 7px no-repeat;margin-right:28px;}
.top_search {float:left; width:214px;padding-left:5px;padding-right:25px;height:21px;line-height:21px;background:url(/images/T_EventList//reg_inputbg.jpg) 0 0px no-repeat;margin-top:7px;margin-right:21px;}
.top_search input { width:100%;line-height:21px; border:none; background:none;}

/*head*/
.sjhl_head { width:1148px;height:141px; margin:0 auto; }
.sjhl_logo { float:left;width:212px;padding-top:26px;}
.head_r { float:right;width:618px;padding-top:24px;}
.head_r_pic { float:left; width:618px;height:52px; display:block;padding-bottom:16px; text-align:right;}
.sjhl_nav { float:left;width:618px;height:27px;}
.sjhl_nav ul {  display:block;padding-left:20px;}
.sjhl_nav ul li { float:left; display:block; margin-right:35px;}
.sjhl_nav ul li.last_li { margin-right:16px;}
.sjhl_nav ul li a { font-size:16px;color:#000; text-decoration:none;}
.sjhl_nav ul li a:hover { font-size:16px;color:#00aaf2; text-decoration:none;}

/*banner*/
.sjhl_banner { /*border-top:#dcdcdc 4px solid;*/ margin-bottom:20px;background:url(/images/T_EventList//banner.jpg) center top no-repeat; height:287px;max-width: 1425px;min-width:1151px;}
.sjhl_banner img {width:100%;}
.down_banner{margin-bottom:20px; height:287px;}
.hzhb_banner { margin-bottom:20px;height:287px;max-width: 1425px;}
.hzhb_banner img {width:100%;}
/*主题内容*/
.sjhl_content { width:1148px; margin:0 auto; background-color:#fff;}
.sjhl_left { float:left; width:219px; padding-left:26px;padding-right:25px;height:665px;padding-top:25px;background-color:#eeeeee;}
.mb6 { margin-bottom:6px;}
.Azure_text { font-size:13px; line-height:24px;color:#666666;padding-top:14px;padding-bottom:14px;}
.sjhl_main { float:right;width:850px; }
.Azure_tit { height:48px;line-height:48px;font-size:14px;color:#333333; font-family:microsoft yahei;}
.Azure_ul { width:100%; display:block;}
.Azure_ul li { float:left;width:100%;padding-top:20px;min-height:180px; padding-bottom:20px;position:relative;border-top:#d6d6d6 1px solid;}
.Azure_ul li h2 { width:100%; clear:both;height:42px;line-height:42px; font-size:22px;color:#00aaf2; }
.Azure_ul li h2 a { color: #00aaf2;}
.Azure_ul li dl { width:100%;clear:both;}
.Azure_ul li dl dt { float:left;width:167px;padding-left:14px;}
.Azure_ul li dl dd { float:left;width:580px;}
.Azure_ul li dl dd .li_rt_text { float:left;padding-top:6px;font-size:13px;color:#666666;line-height:24px;margin-bottom:25px;}
a.a_lan:link,a.a_lan:visited { color:#00abf3;font-size:12px; text-decoration:none;}
a.a_lan:hover { color:#00abf3;font-size:12px; text-decoration:none;}
.Azure_ul li dl dd .li_rt_btn {  float:left;display: block; padding-top:10px;}
.li_date { position:absolute;top:30px; right:5px;width:73px;height:72px; background:url(/images/T_EventList//date_bg.jpg) 0 0 no-repeat;}
.date_year { float:left;width:100%;height:22px;line-height:22px; text-align:center;font-size:12px;color:#fff;}
.date_day { float:left;width:100%;height:50px;line-height:50px; text-align:center;font-size:48px;color:#999999;}

/*版权*/
.footerBg {clear:both;}
.footer_box { background-color:#353535;height:254px;margin:0 auto; clear:both;}
.footer { width:1148px;padding-top:25px;margin:0 auto; }
.footer_l { float:left;width:216px;padding-top:20px;}
.footer_r { float:right;width:213px;padding-top:109px;font-size:10px;color:#a0a0a2;} 
.r_img {  width:100%;text-align:center;}
.r_lf { float:left;width:31% }
.r_rt { float:left;width:35%}
.r_md { float:left;width:34%}
.footer_m { float:left;width:704px;padding-left:3px;}
.footer_m_ul { width:100%; display:block;margin:0 auto;clear:both; }
.footer_m_ul li { float:left;width:100px;line-height:24px; color:#b2b2b7;}
.footer_m_ul li h3 { font-size:12px; color:#fff; font-weight:bold;}
.footer_m_ul li p { float:left; display:block;width:100%;}
.footer_m_ul li p a{ font-size:12px; color:#b2b2b7; text-decoration:none;}
.footer_m_ul li p a:hover{ font-size:12px; color:#b2b2b7; text-decoration:none;}
.copyright { width:100%;margin:0 auto;clear:both; position:relative; display:block;font-size:12px;color:#95969b;line-height:22px; text-align:center;padding-top:20px; }
/*蓝云右侧*/
.ims_tit { width:100%;height:45px; background-color:#8ac400;border-bottom:#fff 2px solid; text-align:center;line-height:45px;font-size:24px;color:#fff;}
.ims_table { width:850px; line-height:24px;font-size:12px;color:#434343;margin-bottom:45px; }
.ims_table td:nth-child(1),.css_01 { width:288px; height:84px;padding-left:62px;padding-right:61px;border-bottom:#fff 2px solid;border-right:#fff 2px solid; text-align:left; background-color:#cacaca;}
.ims_table td:nth-child(2),.css_02 { width:314px; height:84px;padding-left:62px;padding-right:61px;border-bottom:#fff 2px solid;background-color:#00aaf2; text-align:left;}
.h42 {height:42;}
.f18 { font-size:18px;}
.f14 { font-size:14px; font-weight:bold;}
.bold { font-weight:bolder;text-shadow:0 0px 0px #000;}

/*蓝云Azure系列在线讲座视频*/
.vedio_tit { width:1125px;height:20px;line-height:20px;padding-left:23px;margin:0 auto 14px;clear:both; background:url(../images/vedio_tit_bg.jpg) 0 0 no-repeat;font-size:24px;color:#333;}
.vedio_tb { width:1148px; margin:0 auto; display:block;margin-bottom:46px;}
.vedio_box { position:relative;width:364px;height:393px;margin-bottom:45px; display:block;border:#8ac400 1px solid;}
.vedio_box_tit { width:364px;height:48px; line-height:48px; background-color:#8ac400; text-align:center;font-size:18px; color:#fff;margin-bottom:25px;}
.vedio_box_key { width:314px; margin:0 auto;line-height:23px; margin-bottom:6px;font-size:16px;color:#000;}
.vedio_dl { width:314px;height:236px; margin:0 auto;}
.vedio_dl dt { float:left;width:97px;height:123px;}
.vedio_dl dd { float:right;width:196px;line-height:22px;font-size:12px;color:#464646;}
a.a_lan:link,a.a_lan:visited { font-size:12px;color:#00aaf2; text-decoration:none;}
a.a_lan:hover { text-decoration:underline;}
.p_pt { position:absolute;bottom:10px;left:141px;width:131px; height:34px;}
.ml24 { margin-left:24px;}

/*我们服务的客户*/
.vedio_ul { width:1148px;margin:0 auto; clear:both;height:240px;margin-bottom:62px;}
.vedio_ul li { float:left;width:190px;height:59px;border-bottom:#e1e1e1 1px solid;border-right:#e1e1e1 1px solid;}
.vedio_ul li:nth-child(1),.vedio_ul li:nth-child(7),.vedio_ul li:nth-child(13),.vedio_ul li:nth-child(19){ width:191px;}
.vedio_ul li:nth-child(6),.vedio_ul li:nth-child(12),.vedio_ul li:nth-child(18),.vedio_ul li:nth-child(24) { width:191px;border-right:none;}
.vedio_ul li:nth-child(19),.vedio_ul li:nth-child(20),.vedio_ul li:nth-child(21),.vedio_ul li:nth-child(22),.vedio_ul li:nth-child(23),.vedio_ul li:nth-child(24){border-bottom:#fff 1px solid;}
.vedio_ul li img{ width:190px;height:58px; border:none;}

/*云解决方案首页*/
.w1138 { width:1138px;height:auto;margin:39px auto 0; display:block; position:relative; overflow:hidden;}
.w850 { float:left;width:850px;display:block;overflow:hidden;}
.w263 { float:right;width:263px;display:block;overflow:hidden;}
.model { float:left;width:850px;padding-bottom:10px;margin-bottom:30px;border-bottom:#b6b6b6 1px solid;display:block; position:relative; overflow:hidden;}
.model.border_no { border-bottom:none;}
.w413 { width:413px;}
.w413_pic { float:left;width:100%;margin-bottom:10px; display:block; overflow:hidden}
.m_tit {float:left; width:100%;display:block;margin-bottom:20px;line-height:25px;font-size:24px;color:#1ba3dd;font-weight:bold;}
.m_tit2 {float:left; width:100%;margin-top:6px;margin-bottom:24px;display:block; overflow:hidden;line-height:18px;font-size:16px;color:#1ba3dd;}
.w413_dl {float:left;width:100%;display:block;margin-bottom:21px; display:block; overflow:hidden}
.w413_dl dt { float:left;width:100%;line-height:21px;font-size:16px;color:#1ba3dd;}
.w413_dl dt img { display:inline-block;margin-left:8px;vertical-align:middle;}
.w413_dl dd { float:left;width:100%;line-height:18px;font-size:14px;color:#575757;}
.w413_dl dt a:link,.w413_dl dt a:visited { font-size:16px;color:#1ba3dd; text-decoration:none;}
.w413_dl dt a:hover { text-decoration:underline;}
.w413_dl dd a:link,.w413_dl dd a:visited { font-size:14px;color:#575757;text-decoration:none;}
.w413_dl dd a:hover { text-decoration:underline;}
.w420 { width:423px;}
.w420_pic { float:left;width:auto;padding-left:52px;display:block; overflow:hidden}
.w413 p,.w420 p {float:left; width:100%;margin-bottom:21px;line-height:18px;font-size:14px;color:#575757;}
.w420 p span { color:#1ba3dd;}

.w263_box{ width:261px;border:#c6c6c6 1px solid;padding-bottom:55px; background-color:#eeeeee; display:block; position:relative; overflow:hidden;}
.w263_pic { float:left;width:100%;padding:12px 0 34px 0;display:block; position:relative; overflow:hidden;}
.w263_tit { float:left;width:100%;padding-left:23px;padding-bottom:10px;line-height:18px;font-size:16px;color:#1ba3dd;display:block;position:relative;}
.w263_tit img { display:inline-block;margin-left:4px;margin-top:-2px;vertical-align:top;}
.w263_tit a:link,.w263_tit a:visited { font-size:16px;color:#1ba3dd; text-decoration:none;}
.w263_tit a:hover { text-decoration:underline;}
.f_hei { color:#2b2b2b;}
.w263_line { float:left;width:100%; display:block;margin-bottom:14px;}
.w263_dl {float:left;padding-left:23px;width:234px;display:block;overflow:hidden;line-height:18px;}
.w263_dl dt {float:left;width:100%;padding-bottom:12px;font-size:16px; color:#2b2b2b;}
.w263_dl dd { float:left;width:100%;margin-bottom:12px;font-size:13px; color:#2dafed; display:block; overflow:hidden;}
.w263_dl dd.f_14 { font-size:14px;}
.w263_dl dd img { display:inline-block; vertical-align:middle;margin-bottom:-1px;margin-right:4px;}
.w263_dl dd a:link,.w263_dl dd a:visited {font-size:14px; color:#2dafed; text-decoration:none;}
.w263_dl dd a:hover { text-decoration:underline;}
.w263_btn {float:left;width:100%;padding-top:26px; text-align: center; display:block;}
.btn {width: 140px;height: 40px;margin:0 auto;line-height: 38px;background: url(../images/btnBg.jpg) no-repeat;text-align: center;font-weight: bold;}
.btn a:link,.btn a:visited{ display:block; text-align:center;text-decoration:none;font-size:15px;color:#fff;cursor:pointer;}
.btn a:hover {color:#fff;}

/*gigatrust方案页面新增样式*/
.m_tit a,.m_tit a:hover{line-height:25px;font-size:24px;color:#1ba3dd;font-weight:bold; text-decoration:none;}
.w413_ul {float:left;width:100%;display:block; position:relative; overflow:hidden }
.w413_ul li { float:left;width:383px;padding-left:20px;margin-bottom:20px;position:relative; overflow:hidden }
.w413_ul li h3 {float:left;width:100%;line-height:21px;font-size:16px;color:#1ba3dd;}
.w413_ul li p {float:left;width:100%;margin-bottom: 0px;line-height:18px;font-size:14px;color:#575757;}
.w413_ul li span { position:absolute;left:4px;top:0;line-height:20px;color:#1ba3dd;}
.w413_ul li span.c_hei {color:#000;}
.w400 { width:400px;}
.ul_mb5 li {margin-bottom:8px;}

/*自我保护*/
.m_tit3 { float:left; width:100%;margin-top:8px;margin-bottom:26px;display:block; overflow:hidden;line-height:18px;font-size:16px;color:#04518a;}
.m_box { float:left;width:100%;margin-bottom:25px;display:block; position:relative;overflow:hidden;}
.m_box ul{clear: both;overflow: hidden;}
.m_box ul li{padding-left: 26px;line-height: 1.5;font-size: 14px;background: url("../images/icon-dot.png") no-repeat 12px center;}
.first_pic { float:left;margin-right:33px;margin-bottom:14px;}
.first_pic img{display:block;}
.w588 { width:588px; display:block; overflow:hidden;}
.w660 { width:660px; display:block; overflow:hidden;}
.m_box_tit { float:left;width:100%;height:31px;margin-bottom:15px; background:url(../images/box_tit_bg.jpg) left bottom repeat-x;}
.m_box_tit span { display:inline-block;padding-right:30px;height:18px;padding-bottom:10px;line-height:18px;border-bottom:#1ba3dd 3px solid; font-size:18px;color:#000;}
.m_box_tit2 { float:left;width:100%;margin-bottom:3px;line-height:18px;font-size:16px;color:#1ba3dd;}
.m_box p { float:left;width:100%;line-height:20px;font-size:14px;color:#575757;}
.m_box p strong{line-height: 1.5;}
.table_box {width:365px;height:auto; padding:12px 45px 12px 51px;margin:0 auto 7px;border:#1ba3dd 1px solid; display:block; position:relative;overflow:hidden;font-size:14px;color:#575757;}
.table_tit { float:left;width:100%;height:20px;line-height:20px;font-weight:bold;}
.table_ul { float:left;width:100%;height:auto;margin-top:17px; display:block; overflow:hidden;}
.table_ul li { float:left;width:100%;height:20px;line-height:20px;font-size:14px;}
.table_ul li span {display:inline-block;margin-left:10px;margin-right:7px; vertical-align:middle;}
.table_list{width: 680px;border:1px solid #999;}
.table_list td{padding:6px 10px;border-bottom:1px solid #999;line-height: 1.75;}
.table_list td{border-right:1px solid #999;}
.w220 { width:220px;}
.w121 { width:121px;}
.u-mt15{margin-top: 15px;}
.u-mb10{margin-bottom: 10px;}
/*资料下载*/
.w1147 {width:1147px;}
.w849 {width:849px;}
.w849 h2 { float:left;display:block;width:100%;border-bottom:#1ba3dd 1px solid;height:48px;line-height:48px;font-size:22px;color:#333;}
.zl_list { float:left;display:block;position:relative;width:811px;padding:0 19px;  overflow:hidden;}
.zl_list li { float:left; display:block; position:relative;width:100%;padding:21px 0 35px;margin-bottom:18px;border-bottom:#828282 1px dashed; }
.zl_tit {float:left; position:relative; overflow:hidden;width:100%;padding-right:130px;box-sizing:border-box;margin-bottom:10px;line-height:32px;height:32px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:16px;color:#1ba3dd;font-weight:bold;}
.zl_tit span { position:absolute;right:4px;top:0px;width:85px; text-align:right;cursor:pointer;}
.zl_tit span img {width:82px;height:32px;}
.zl_list li p {float:left; display:block;width:100%;line-height:24px;font-size:14px;color:#666;}

.leftList{ display:block; position:relative; overflow:hidden;padding-bottom:34px; margin-bottom:1px; border:#cacaca solid 1px; border-top:none; background-color:#e7e7e7;}
.leftList li{ float:left;display:block; position:relative; overflow:hidden;height:auto;padding:19px 0 9px 0px;width:211px; margin-left:30px;margin-bottom:1px; border-bottom:#c8c8c8 2px dashed;}
.leftList li a,.leftList li text,.leftList li a:hover{ height:30px;line-height:24px;color:#767676;font-size:14px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis; }
.leftList li span { float:left;width:100%;text-align:right;line-height:24px;}
.leftList li span a {color:#1ba3dd;font-size:14px; text-decoration:underline;}
.pdl47 li a{padding-left:47px;}
/*邮箱确认弹框*/
.page_bg { position:fixed;left:0;top:0;width:100%;height:100%; display:block; background:rgba(0,0,0,0.3);display:none;z-index:1;}
.bom_box { position:fixed;left:50%;top:50%;margin-left:-231px;margin-top:-131px;width:354px;height:178px;padding:42px 54px 42px;border:#d5d5d5 1px solid; border-radius:5px; box-shadow:2px 2px 2px #333; background:#fff url(../img/bom_bg.png) right bottom no-repeat;z-index:2; display:none;}
.bom_box p { position:absolute;right:-24px;top:-24px;width:48px;height:48px; display:block;cursor:pointer;}
.bom_tit {float:left;width:100%;height:48px;line-height:48px;padding-bottom:15px;font-size:24px;color:#1ba3dd;font-weight:bold;}
.bom_form {float:left;width:100%;height:41px;line-hieght:41px;padding:0 5px;margin-bottom:36px;border:#d2d2d2 1px solid; box-sizing:border-box; background-color:#f2f2f2; display:block; overflow:hidden;clear:both;}
.bom_input {width:100%;line-height:41px;border:none; background:none;font-size:15px;color:#666;}
.bom_btn { text-align:center;width:150px;height:36px;line-height:36px;margin:0 auto; background-color:#1ba3dd; border-radius:4px;clear:both; text-align:center; cursor:pointer;}
a.btn_submit:link,a.btn_submit:visited,a.btn_submit:hover { font-size:18px;color:#fff;font-weight:bold;}
.box_txt {float:left;width:100%;line-height:26px;font-size:18px;color:#757575;font-weight:bold;}
.pdt30 { padding-top:30px;}
/*字符长度控制*/
/*.figcaption{height:48px;overflow:hidden;}*/


/*合作伙伴*/
.hezuo_left{ float:left;width:582px; display:block; overflow:hidden;}
.hezuo_tit { width:100%;padding:10px 0 40px 0px;line-height:30px;font-size:18px;color:#00abec;font-weight:bold;font-family:microsoft yahei;}
.hzhb_ul{padding-left:73px;width:419px; display:block; position:relative; overflow:hidden;}
.hzhb_ul li {float:left;width:308px;padding:19px 0 37px 111px;height:39px;margin-bottom:35px;font-family:microsoft yahei;}
.hzhb_ul li.hzhb_li_1 { background:url(../images/hzhb_li_1.jpg) 0 0 no-repeat;}
.hzhb_ul li.hzhb_li_2 { background:url(../images/hzhb_li_2.jpg) 0 0 no-repeat;}
.hzhb_ul li.hzhb_li_3 { background:url(../images/hzhb_li_3.jpg) 0 0 no-repeat;}
.hzhb_ul li.hzhb_li_4 { background:url(../images/hzhb_li_4.jpg) 0 0 no-repeat;}
.hzhb_ul li p {float:left;width:100%;line-height:18px;font-size:14px;color:#fff;}
.hzhb_ul li p img { vertical-align:middle;}
.hzhb_ul li p.p_mt {margin-top:9px}
.hzhb_ul li a:link,.hzhb_ul li a:visited { font-size: 14px;color: #fff;text-decoration: none;}
.hzhb_ul li a:hover {font-size: 14px;color: #fff;text-decoration: none;}
.hezuo_right{ float:right;width:564px; display:block; overflow:hidden;}
.hezuo_jihua{float:left;width:436px;padding-left:76px; background:url(../images/hezuo_jihua_bg.gif) 0 0 no-repeat; display:block;}
.jihua_hangye{ float:left;width:372px;padding:38px 0 0 63px;height:97px; background:url(../images/jihua_hangye_bg.jpg) 0 0 no-repeat;}
.icon_hangye{float:left;width:70px; display:block;padding-right:19px;}
.jihua_hangye_txt{ float:left;width:268px;padding-top:17px;line-height:18px;font-size:14px;color:#4a4a4a;font-family:microsoft yahei;}
.jihua_hangye_txt img{ vertical-align:middle;}
.jihua_hangye_txt a:link,.jihua_hangye_txt a:visited,.jihua_hangye_txt a:hover {font-size:14px;color:#4a4a4a;font-family:microsoft yahei; }
.jihua_hezuo{float:left;width:395px;padding:38px 0 0 40px;height:112px; background:url(../images/jihua_hezuo_bg.gif) 0 0 no-repeat; display:block; }
.icon_email{float:left;width:70px; display:block;padding-left:10px;}
.jihua_hangye_txt2 {float:left;width:253px;padding-top:3px;line-height:18px;font-size:14px;color:#4a4a4a;font-family:microsoft yahei;}
.jihua_hangye_txt2 a,.jihua_hangye_txt2 a:hover {font-size:14px;color:#009fe3;font-family:microsoft yahei;}
.jihua_hangye_txt2 p {float:left;width:100%;margin-top:3px;}
.gongzhonghao{float:left;width:100%; display:block;padding-top:40px;}

.help_box{ margin:15px auto 70px; display:block; position:relative; overflow:hidden;}
.help_left {float:left;width:8px;}
.help_right {float:right;width:1139px; background-color:#e2e2e2;height:110px;}
.help_right_tit{float:left;margin-top:1px;width:702px;padding-left:32px;height:36px;line-height:36px; background-color:#01b0f1;font-size:16px;color:#fff;font-weight:bold;font-family:microsoft yahei;}
.help_ul{float:left;padding:24px 0 0 62px;width:892px;}
.help_ul li {float:left;width:446px;height:24px;line-height:24px;font-size:14px;color:#2a2a2a;font-family:microsoft yahei;}
.help_ul li span { display:inline-block;padding-right:9px; vertical-align:middle;}
.help_ul li a {font-size:14px;color:#2a2a2a;font-family:microsoft yahei; }
.help_ul li a:hover { text-decoration:underline;}


/*应用发布的样式*/
.g_yyfb_box{width:1146px;height:auto;margin:35px auto 60px auto;overflow:hidden;}
.g_yyfb_top{width:100%;height:265px;margin:0;background-color:#f5f5f5;}
.u_yyfb_top_img{width:249px;height:248px;float:left;margin:12px 85px 0 55px;}
.u_yyfb_top_con{width:695px;height:175px;float:left;margin:40px 0 0 0;overflow:hidden; font-family:"微软雅黑";font-size:14px;color:#333333;line-height:24px;}
.g_yyfb_ul01{width:1204px;height:136px;margin:45px 0 35px 0;}
.g_yyfb_ul01 li{width:216px;height:123px;float:left;margin:0 56px 0 0;padding:15px 14px 8px 14px;background-repeat:no-repeat;background-position:left top;}
.s_yyfb_bg01,.g_yyfb_ul01 li:nth-of-type(1){background-image:url(../images/yyfb_img03.png);}
.s_yyfb_bg02,.g_yyfb_ul01 li:nth-of-type(2){background-image:url(../images/yyfb_img04.png);}
.s_yyfb_bg03,.g_yyfb_ul01 li:nth-of-type(3){background-image:url(../images/yyfb_img05.png);}
.s_yyfb_bg04,.g_yyfb_ul01 li:nth-of-type(4){background-image:url(../images/yyfb_img06.png);}
.u_li_text{width:216px;height:95px;font-family:"微软雅黑";font-size:14px;color:#ffffff;line-height:24px;overflow:hidden;}
.g_yyfb_ul01 li a{float:right;font-family:"微软雅黑";font-size:12px;color:#ffffff;line-height:22px;text-decoration:underline;}
.g_yyfb_main{width:1146px;height:auto;overflow:hidden;}
.u_main_tit{width:100%;height:auto;margin:0 0 0px 0;overflow:hidden;font-family:"微软雅黑";font-size:16px;font-weight:bold;color:#000000;line-height:24px;}
.u_mian_con{width:100%;height:auto;margin:0 0 10px 0;overflow:hidden;font-family:"微软雅黑";font-size:14px;color:#4a4a4a;line-height:24px;}
.g_main_content{width:1258px;height:auto;overflow:hidden;}
.m_main_left{width:517px;height:auto;margin:0 112px 25px 0;float:left;overflow:hidden;}
.m_main_left h3{width:500px;height:45px;float:left;padding:0 0 0 17px;background:url(../images/yyfb_img07.png) no-repeat;font-family:"微软雅黑";font-size:18px;color:#ffffff;line-height:28px;}
.m_main_ul{width:500px;height:136px;float:left;margin:-14px 0 0 8px;padding:14px 0px 6px 0px;border:1px solid #c6c6c6;border-top:0px;background-color:#f2f2f2;}
.m_main_ul li{width:220px;height:28px;float:left;margin:0 15px; white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-family:"微软雅黑";font-size:14px;color:#4a4a4a;line-height:28px;}


/*网站地图*/
.map_header{ background:#fff; border-bottom:4px solid #dcdcdc;}
/*left*/
#map_left{width: 276px;}
#map_left h2{ height:20px; line-height:20px; padding:55px 0 9px 45px; border-left:#1ba3dd solid 6px; color:#1ba3dd; font-size:20px; border:#cacaca solid 1px; border-bottom:none; background:#e7e7e7 url(../images/h3Bg.gif) no-repeat left 58px;}
#map_left span{ display:block; height:20px; line-height:20px; padding:35px 0 9px 45px; border-left:#1ba3dd solid 6px; color:#1ba3dd; font-size:20px; border:#cacaca solid 1px; border-bottom:none; background:#e7e7e7;}
#map_left span img{ display:block; float:left; padding-right:15px;}
.map_leftMenu,.map_leftCont{ padding-bottom:14px;border:#cacaca solid 1px; border-top:none; border-bottom:none; background-color:#e7e7e7;}
.map_leftMenu li{ color:#2DAFED; font-size:18px; line-height:34px; padding-left:29px;}
.map_leftMenu li img{ padding-top:15px;}
.map_leftCont{ border-bottom:1px solid #cacaca;}
.map_leftCont ul{ width:218px; margin-left:29px; border-bottom:1px solid #fff; padding:10px 0;}
.map_leftCont li{ color:#000; line-height:25px; font-size:15px;}
.map_leftCont li a{color:#2DAFED;text-decoration:underline}

/*right*/
.mapr_header{ height:100px;}
.mapr_header p{ float:right; padding-top:24px;}
.mapr_header span{ color:#2DAFED;}
.mapr_header h2{ font-size:36px; font-weight:bold; color:#2DAFED; padding-bottom:15px; border-bottom:1px solid #c2c2c2;}
.w813{ width:813px; padding-left:36px;}
.w450{ width:450px;}
.w813 h2{color:#2DAFED; background: url(../images/h3Bg.gif) no-repeat left;padding-left:15px; border-bottom:none;}
.mapr_cont{ display:inline-block;border-bottom:1px solid #e4e4e4; padding-bottom:18px; width:100%;}
.mapr_cont ul{ width:600px; display:inline-block;}
.mapr_cont h2 a{color:#2DAFED;}
.mapr_cont li{ font-size:14px; line-height:24px; float:left; width:150px; color:#666;}
.mapr_cont span{ display:block; color:#000; font-size:16px; line-height:26px;}
.mapr_cont_child li{ clear:both; font-size:12px;}
.mapr_cont_child li a{color:#999;}



/*视频中心*/
.shfl_list_t{float:left;width:100%; height:166px;}
.shfl_list_t dt { float:left;}
.shfl_list_t dt img{width:100%; display:block; position:relative;}
.shfl_list_t dt span{display:block;width:212px; height:156px; background:#ccc; opacity:0.55; position:relative; top:-156px;}
.shfl_list_t dt span img{ width:20%; margin-left:40%; padding-top:29%;}
.shfl_list_t dd { float:right;width:70%;color:#fff;padding:0.8em 0 0 0; }
.shfl_list_t dd p{ height:120px;}
.shfl_list_t dd span { display:block; float:right; margin-left:40px;cursor:pointer}
.zl_list li p {float:left; display:block;width:100%;line-height:24px;font-size:14px;color:#666;font-family:microsoft yahei; position:relative;}
.zl_list li p .dldovertext{display:none;}
.zl_list p:hover .dldovertext{display:block;position:absolute;top:10px;left:50px;width:740px;border:1px solid #aaa;  border-radius: 5px;background:#efefef; font-size:13px; color:#454545;padding:5px;text-align:left; z-index:100;    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(#ededed), to(#f3f3f3));  background: -webkit-linear-gradient(top, #ededed, #f3f3f3);box-shadow: 1px 1px 5px #ccc;}

/*视频中心详情页*/
.sp_title{ width:100%;max-width:1426px; height:25px; background:#4a4a4a; color:#fff; line-height:25px; margin:0 auto;}
.sp_nav{ width:100%;max-width:1426px; height:90px; background:#fff; color:#fff;margin:0 auto; border-bottom:3px solid #cdcdcd;}
.sp_nav img{ margin-top:30px; float:left; margin-left:145px;}
.sp_content{ background:url(/images/spzx_bg_0604.jpg) no-repeat left top;width:1425; height:762px; width:100%;max-width:1426px; margin:0 auto;}
.sp_cont{ width:890px; margin:0 auto; color:#fff; font-size:14px; padding-top:50px;}
.sp_cont h2{ font-size:20px; padding-top:20px;}
.sp_cont_video{background:url(/images/spxq_contbg_0604.jpg) no-repeat; width:885px; height:498px; margin-top:30px; color:#a8a8a8;}
.sp_cont_videoTit{ width:500px; text-align:center;padding:140px 0 0 200px;}
.sp_cont_videoTit span{ font-size:24px; font-weight:bold; display:block; padding-bottom:6px;}
.sp_nav a{ display:block; float:right; margin-right:140px; margin-top:8px;}



/*视频右部分*/
.w263_dl dd span{ font-size:13px;}
.w263_img{ width:100%;padding-left:23px;padding-bottom:10px;}
.w263_icon{ width:100%;padding-left:23px;padding-bottom:10px;}
.w263_icon img{ display:block; float:left; margin-right:10px;}
.w263_icon span{ float:left; padding-top:6px;}



/*云应用文字样式*/
.hzhb_banner {height: 287px; margin-bottom: 20px;max-width: 1425px;min-width:1151px}
.wrap { display: block;margin: 0 auto;width: 100%;}
.cont_text{width:1151px; margin:0 auto;font-size:14px; line-height:25px; color:#666;font-family: "微软雅黑";}
.cont_text ul{ padding-bottom:20px;}
.cont_text ul li{ width:48%;margin-left:2%;float:left; font-size:14px; font-weight:600; list-style:inside;} 
.cont_text span{ display:block; padding:30px 0;}


/*新右侧导航*/
.w263_menu_box{ width:263px;margin-bottom:10px; background-color:#fff; display:block; position:relative; overflow:hidden;}
.w263_lanmu_pic { float:left;width:100%;padding:14px 0 0px 0;height:54px; background:url(/images/w263_pic_bg.png) 0 0 no-repeat;display:block; position:relative; overflow:hidden;}
.w263_menu { float:left;width:243px;padding-left:18px;border-left:#1ba3dd 2px solid;border-bottom:#ddd 1px solid;line-height:31px;font-size:14px;color:#1ba3dd;display:block;position:relative;}
.w263_menu img { display:inline-block;margin-left:4px;margin-top:-2px;vertical-align:top;}
.w263_menu a:link,.w263_tit a:visited { font-size:14px;color:#1ba3dd; text-decoration:none;}
.w263_menu a:hover { text-decoration:underline;}
.w263_con { float:left;width:219px;padding-left:42px;border-left:#ddd 2px solid;border-bottom:#ddd 1px solid;display:block;position:relative;}
.w263_con li { float:left;width:100%;height:31px;line-height:31px;}
.w263_con li a:link,.w263_con li a:visited {font-size:14px;color:#444; text-decoration:none;}
.w263_con li a:hover {color:#1ba3dd; position:absolute}

.w263_lxfs {float:left;padding:0 0 12px 29px;width:234px;display:block;overflow:hidden;line-height:18px;}
.w263_lxfs dt {float:left;width:44px;margin-right:16px;font-size:16px; color:#2b2b2b;}
.w263_lxfs dd { float:left;width:146px;margin-bottom:0px;line-height:24px;font-size:14px; color:#444444; display:block; overflow:hidden;}
.w263_lxfs dd p {float:left;width:100%;line-height:24px;font-size:14px;}
.w263_lxfs dd p.f_18 { font-size:18px;font-weight:bold;}
.w263_lxfs dd img { display:inline-block; vertical-align:middle;margin-bottom:-1px;margin-right:4px;}
.w263_lxfs dd a:link,.w263_dl dd a:visited {font-size:14px; color:#2dafed; text-decoration:none;}
.w263_lxfs dd a:hover { text-decoration:underline;}
.c_blue{color:#1ba3dd;}
.w263_link_bg { float:left;width:100%;padding-top:21px;height:148px; background-color:#eee;}
.w263_link {float:left;width:100%;height:40px;line-height:40px; background-color:#1ba3dd;border-bottom:#fff 1px solid; display:block;}
.w263_link.w263_btn_bg { background:url(/images/w263_btn_bg.png) 0 0 no-repeat; background-color:transparent;}
.btn_link {width:150px;padding:5px 0 0 76px;height:30px;line-height: 30px; /*background: rgba(0, 0, 0, 0) url(../images/btnBg.jpg) no-repeat scroll 0 0;*/}
.btn_link a:link, .btn_link a:visited {float:left;display:block;height: 30px;line-height: 30px;font-size: 16px;color: #fff; text-decoration: none;cursor: pointer;}

/*成功案例*/
.w864 {width:864px;height:auto; display:block; position:relative; overflow:hidden;}
.cgal_list { width:100%;padding-bottom:40px;height:auto; display:block; position:relative; overflow:hidden;}
.cgal_list li {float:left;width:657px;padding:30px 0 40px 193px;height:auto;border-bottom:#d5d5d5 1px solid;display:block; position:relative; overflow:hidden;}
.cgal_list li:last-child { border-bottom:none;}
.cgal_list li span { position:absolute; left:26px;top:35px;width:142px;height:141px; display:block;}
.cgal_list li span img{width:100%;height:100%;}
.cgal_tit { float:left;width:100%;line-height:32px;font-size:24px;color:#373737;position:relative; overflow:hidden;}
.cgal_list li p {float:left; width:100%;height:auto;margin-bottom:40px;line-height:22px;font-size:14px;color:#4a4a4a;position:relative; overflow:hidden;}
a.cgal_btn:link,a.cgal_btn:visited,a.cgal_btn:hover {width:114px;height:26px; display:block; line-height:26px; background-color:#1ba3dd;font-size:14px;color:#fff; text-decoration:none; text-align:center;}
.cgal_list li div {float:left; width:100%;height:auto; display:block; position:relative; overflow:hidden;}
.w263_img {padding-bottom: 10px;padding-left: 23px;width: 100%;}
.w263_icon {padding-bottom: 10px; padding-left: 23px;width: 100%;}
.w263_icon img {display: block; float: left;margin-right: 10px;}
.w263_icon span {float: left;padding-top: 6px;}
/*解决方案*/
.jjfa_jj { float:left;width:100%;padding:32px 0 62px 0; display:block; position:relative; overflow:hidden;}
.jjfa_jj dt { float:left;width:150px;}
.jjfa_jj dd { float:right;width:675px;padding:20px 0 0 0;line-height:22px;font-size:14px;color:#4a4a4a;} 
.jjfa_box { float:left;width:100%;margin-bottom:48px;display:block; position:relative; overflow:hidden;}
.jjfa_con_l { float:left;width:246px;height:127px; position:relative;padding:0 0 0 150px; background:url(/images/jjfa_bg.jpg) 0 0 repeat-y;}
.jjfa_con_l span { position:absolute; left:0;top:0;width:127px;height:127px;  overflow:hidden;}
.jjfa_con_l span img {width:100%; display:block;}
.jjfa_tit { float:left;width:100%;padding-top:7px;line-height:22px;font-size:14px;color:#02abec;font-weight:bold;}
.jjfa_con_l p {float:left;padding:0 20px 0 14px;width:212px;background:url(/images/arrow_4.png) 0 center no-repeat;line-height:30px;font-size:14px;color:#4a4a4a;}
.jjfa_con_r {float:right;width:249px;height:127px;padding:0 132px 0 15px;position:relative;background:url(/images/jjfa_bg2.jpg) 0 0 repeat-y;}
.jjfa_con_r span { position:absolute; right:0;top:0;width:127px;height:127px;  overflow:hidden;}
.jjfa_con_r span img {width:100%; display:block;}
.jjfa_con_r p {float:left;padding:0 2px 0 14px;width:247px; background:url(/images/arrow_4.png) 0 center no-repeat;line-height:30px;font-size:14px;color:#4a4a4a;}
.jjfa_con_r p a {font-size:14px;color:#4a4a4a;font-weight:bold; text-decoration:none;}
.jjfa_con_r p a:hover { color:#f00;}
.w263_menu a:link,.w263_menu a:visited { font-size:14px;color:#1ba3dd; text-decoration:none;}

/*蓝云终端备份首页*/
.w840_box {float:left;padding:14px 30px 0;margin-bottom:20px;height:120px;width:780px; background-color:#eee;line-height:21px;font-size:14px;color:#4a4a4a;}
.w840_tit {width:100%;margin-bottom:10px;}
.w840_tit a:link,.w840_tit a:visited,.w840_tit a:hover {font-size:14px;color:#1ba3dd; text-decoration: none;}
.w840_tit span { display:inline-block;margin-left:9px;vertical-align: sub;}
.w413_dl dt.txt_hei {font-size:14px;color:#4a4a4a;font-weight:bold;}
.dl_mb dt,.dl_mb dd {margin-bottom:5px;}
.w413_dl dd img { display:inline-block;margin-left:8px;vertical-align:middle;}

/*蓝云终端备份*/
.w840{float: left;width: 840px; padding-bottom:100px; display: block;overflow: hidden;}
.m_tit{float: left;width: 100%;display: block;margin-bottom: 20px;line-height: 25px;font-size: 24px;color: #1ba3dd;font-weight: bold;}
.s_tit{float:left; width:100%; margin-top:40px; font-size:18px; color:#333; margin-top:20px;}
.s_tit img{vertical-align: middle; margin-left: 10px; display: inline-block;}
.mtb36{margin:36px 0;}
.mt25{margin-top:25px;}
.mtb10{margin:10px 0;}
.DataBackup_sm_tit{font-size:14px; float:left;}
.DataBackupbox{width:100%; margin-top:28px; float:left;}
.DataBackupbox .l-img{float:left; display:inline-block; width:190px;}
.DataBackupbox .DBfr{ float:right; display:inline-block; width:598px; height:137px; font-size:13px; padding-left:35px; padding-right:17px; background:#f3f3f3;}
.DataBackupbox .DBfr h4{ font-size:16px; font-weight:normal; color:#02abec; margin-top:30px; margin-bottom:5px;}
.solutionbox .moreRepeatDel{ display:block; padding:0 20px 0 40px; height:31px; line-height: 30px; text-align: center; border:1px solid #1a489b; border-radius: 5px; background:url(../images/PDFsmLogo.png) left center no-repeat #fff; color:#1a489b; float:left;margin-top:10px;}
.solutionbox .moreRepeatDel2{background:url(../images/PDFsmLogo2.png) left center no-repeat #fff; color:#49b5e4; border:1px solid #49b5e4;}
.solutionbox .arrow_yel{background:url(../images/PDFsmLogo_yel.png) left center no-repeat #fff; color:#ff9815; border:1px solid #ff9815;}
.solutionbox .arrow_red{background:url(../images/PDFsmLogo_red.png) left center no-repeat #fff; color:#e62516; border:1px solid #e62516;}
a.moreRepeatDel:hover{ color:#1a489b;}
a.moreRepeatDel2:hover{ color:#49b5e4;}
a.arrow_yel:hover{ color:#ff9815;}
a.arrow_red:hover{ color:#e62516;}
.moreRepeatDel img{margin-left: 15px;vertical-align: middle;}
.grayPointBg{ background:url(../images/liGrayPoint.png) left 6px no-repeat; text-indent:15px;}
.yeltitbox{ float:left; font-size:14px; width:100%; margin-bottom:40px; border-bottom:8px solid #e6e6e6; background:#f3f3f3; overflow:hidden;}
.yeltitbox .yeltitbg{background:#ff9815; color:#fff; font-size:18px; height:34px; line-height:34px; padding-left:15px;}
.yeltitbox .yeltitmain{padding:40px 15px;}
.yeltitbox .yeltitmain .s_tit{margin-bottom:10px;}
.yeltitbox .yeltitmain .grayPointBg{ background:url(../images/liGrayPoint.png) left center no-repeat; text-indent:15px; font-size:16px; color: #222;}
.yeltitbox .yeltitmain p{float:left; margin-bottom:10px;}
.deployPicBox{width:238px; font-size:13px;}
.deployPicBox img{float:left;}
.deployPicBox .fl{width:135px; margin-left:10px;}
.deployPicBox .fl h4{font-size:14px; margin-bottom:5px;}
.solutionbox{ background:url(../images/solution_011.jpg) no-repeat; width:393px; height:243px; padding:10px; font-size:14px; float:left; border-radius:5px; overflow:hidden; position: relative; background-position: left bottom; background-color: #ededed;}
.solution2{background-image:url(../images/solution_02.jpg);}
.solution3{background-image:url(../images/solution_03.jpg);}
.solution4{background-image:url(../images/solution_04.jpg);}
.solutionbox h4{ font-size:16px; font-weight:normal; color:#02abec;}
.solutionbox p{color:#666;}

/*新右侧导航下面的小banner*/
.w263_banner{ width:263px; height:auto; margin-top:20px;display: block; position: relative;overflow: hidden;}
.rbanner_top{width:263px; height:69px; padding-top:15px; background:url(../images/w263_topbg_rbanner.png) no-repeat;}
.rbanner_top p{ margin-left:22px; font-size:18px; font-weight:bold; color:#fff;}
.rbanner_top span{color:#ffc614;}
.rbanner_foot{width:233px; height:34px; padding:10px 15px; background:url(../images/w263_footbg_rbanner.png) no-repeat;font-weight:bold; font-size:12px;}
.rbanner_btn{ display:inline-block; float: left;margin-top: 5px; width:71px; height:25px; line-height:25px; text-align:center; background:url(../images/w263_btn_rbanner.png) no-repeat; color:#fff;}
.rbanner_btn:hover{color:#f1f1f1;}
.rbanner_foot p{ display:inline-block; float:right; width:150px; color:#1ba3dd;}

/*office365中心*/
.w848 {float:left;width:848px; padding-bottom:30px; display: block;overflow: hidden}
.hotspot_tit {float:left;width:100%;padding:14px 0 10px;line-height:32px;font-size:30px;color:#f98b36;font-weight:bold;}
.hotspot_txt {float:left;width:100%;line-height:22px;font-size:14px;color:#666;}
.u_mb10 {margin-bottom:10px;}
.nav_hide {float:left;width:100%;height:25px;margin-bottom:25px;background:url(../images/icon_off.png) 736px 3px no-repeat;background-size:111px 25px; line-height:31px;padding-bottom:10px;border-bottom:#cdcdcd 1px solid; text-align: right; font-size:18px;color:#1f87b2; }
.nav_hide.nav_hide_on {background:url(../images/icon_open.png) 736px 3px no-repeat;background-size:111px 25px; }
.icon_tit { display: inline-block;margin-right:7px; vertical-align: middle;}
.hotspot_content {float:left;width:100%;position: relative;overflow: hidden;line-height:22px;color:#666;}
.hotspot_content p{float:left;width:100%;padding:0 0 3px 0;line-height:22px;font-size:14px;color:#666;box-sizing: border-box;}
.hotspot_content p span {display: inline-block;width:10px;margin-right:9px; vertical-align: middle;}
.hotspot_content p.c_lan{color:#1f87b2;}
.hotspot_con {float:left;width:100%;margin-bottom:9px;position: relative;overflow: hidden; }
.hotspot_con.u_mb14 { margin-bottom:14px;}
.hotspot_tit2 {float:left;width:816px;padding-left:31px;margin-bottom:8px;background:url(../images/icon_tit.png) 0 center no-repeat;line-height:29px;font-size:18px;color:#1f87b2;}
.hotspot_tit2.hotspot_tit2_on {background:url(../images/icon_tit_on.png) 0 center no-repeat;}
.hotspot_tit3 {float:left;width:100%;margin-bottom:7px;line-height:24px;font-size:16px;color:#000;}
.hotspot_box {float:left;width:100%; display:block;position: relative;overflow: hidden;}
.hotspot_con p.icon_pot {padding-left:18px;background: url(../images/icon_pot.png) 0 4px no-repeat;}
.hotspot_con p.icon_line {padding-left:27px;background: url(../images/icon_line.png) 18px 4px no-repeat; }
.hotspot_con p.p_mt{margin-top:-5px;}
.hotspot_con p a:link,.hotspot_con p a:visited { text-decoration: underline;color:#1f87b2;font-size:14px;}
.hotspot_con p a:hover {color:#f00;}
.hotspot_line {float:left;width:100%;height:40px;margin-bottom:21px;border-bottom:#cdcdcd 1px solid;}

/*office365中心tab菜单*/
.office_nav {float:left;width:100%;margin:24px 0 18px 0; position: relative;overflow: hidden;}
.office_nav a:link,.office_nav a:visited {float:left;width:166px;margin-right:2px;height:46px;line-height:46px; background-color:#eaeaea;font-size:18px;color:#727272; text-align: center;}
.office_nav a:hover,.office_nav a.a_active {background-color:#f98b36;color:#fff;}
.w384 {width:384px;}
.w384_tit {float:left;width:100%;height:17px; margin-bottom:20px;background: url(../images/w384_tit.png) 0 0 no-repeat;line-height:17px;font-size:14px;color:#666;}
.valign { font-size:12px;vertical-align: middle;}
.hotspot_con p a.a_lanse:link,.hotspot_con p a.a_lanse:visited {font-size:14px;color:#1f87b2; text-decoration: none;#}
.hotspot_con p a.a_lanse:hover {color:#f00}
.u_pdl18 {float:left;padding-left:18px; position: relative;overflow: hidden;}
.f_bold {font-weight:bold;}

/* 资质认证 */
.certified{width:100%;overflow: hidden;margin-bottom: 25px;}
.c_img{width: 230px;height: 311px;margin-right: 35px;}
.certified h3{font-size: 18px;color:#000;line-height: 38px;}
.certified li{font-size: 14px;line-height: 26px;color:#575757;}
.c_patent{margin-top: 30px;width:560px; }

/*safein网络安全检测*/
.safeinCon{color: #575757;}
.safein_leftTitle{padding-bottom: 25px;}
.safein_leftTitle > img{float: left; margin: 0 35px 0 0;}
.safein_leftTitle > p{font-size: 14px; margin-bottom: 12px;}
.safeinCon_first{border-top: 1px solid #6a6a6a; padding-top: 30px; margin-bottom: 30px;}
.anli_sTitle{font-size: 18px; color: #6a6a6a; font-weight: bold; padding-bottom: 10px;}
.anli_img1{width: 100%;}
.anli_table{margin: 20px 0 28px;}
.anli_table td{padding: 18px 15px; border: 1px dashed #cbc9c9;}
.anli_table h4{color: #6a6a6a; font-size: 16px; line-height: 2em;}
.anli_ul li{font-size: 14px; line-height: 2em;}
.anli_ul li:before{content: ''; display: inline-block; width: 6px; height: 6px; border-radius: 100%; background-color: #575757; position: relative; top: .5em; vertical-align: text-top; margin: 0 6px;}
.anli_p{font-size: 14px; line-height: 1.6em;}
.gongNeng{position: relative;}
.gongNeng h4{font-size: 16px; color: #000; font-weight: 600; line-height: 2em;}
.gongNeng p{font-size: 14px;}
.gongNeng_img{position: absolute;}
.gongNeng1{height: 240px;}
.gongNeng1 .gongNeng_img{left: 85px; top: 35px;}
.gongNeng1 .gongNeng_img1{width: 260px; height: 135px; float: right;}
.gongNeng2{height: 190px;}
.gongNeng2 .gongNeng_img{left: 0; top: -27px;}
.gongNeng2 .gongNeng_img1{width: 288px; height: 155px; float: left;}
.gongNeng3{height: 345px;}
.gongNeng3 .gongNeng_img{left: 118px; top: -16px;}
.gongNeng3 .gongNeng_img1{width: 260px; height: 213px; float: right;}
.gongNeng4{height: 205px;}
.gongNeng4 .gongNeng_img{left: 0; top: -9px;}
.gongNeng4 .gongNeng_img1{width: 290px; height: 200px; float: left;}
.gongNeng5{height: 285px;}
.gongNeng5 .gongNeng_img{left: 86px; top: -115px;}

/*服务列表*/
.g_fuwu_box { width:1146px;margin:50px auto 96px;position: relative;overflow: hidden }
.g_fuwu_con {float:left;width:100%;margin-bottom:30px;display:block;position: relative;overflow: hidden;}
.u_fuwu_tit {float:left;width:100%;margin-bottom:2px;line-height:28px;font-size:18px;color:#1ba3dd;}
.u_fuwu_tit a:link,.u_fuwu_tit a:visited,.u_fuwu_tit a:hover {font-size:18px;color:#1ba3dd; text-decoration: none;}
.u_fuwu_info {float:left;line-height:24px;font-size:14px;color:#4a4a4a;}
.u_fuwu_info span {color:#999;}
.gongNeng5 .gongNeng_img1{width: 270px; height: 140px; float: right;}
.gongNeng6{height: 185px;}
.gongNeng6 .gongNeng_img{left: 0; top: -27px;}
.gongNeng6 .gongNeng_img1{width: 284px; height: 173px; float: left;}

/* powerbi */
.free-box .w1138,.powerbi-box01 .w1138,.powerbi-box02 .w1138,.powerbi-box03 .w1138{margin-top: 0;}
.free-box{width:100%;height: 668px;background: url("/images/bg-free.jpg") no-repeat top center;text-align: center;}
.free-box p{font-size: 22px;color: #000;margin-top: 145px;line-height: 32px;margin-bottom: 28px;}
.btn-black{display: inline-block;width: 152px;height: 38px;line-height: 38px;text-align: center;border: 2px solid #000;font-size: 16px;}
.btn-yellow{display: inline-block;width: 154px;height: 42px;line-height:42px;text-align:center;color:#000;background-color: #f4c80e;font-size: 16px;}
.powerbi-box01{width:100%;height: 472px;background: url("/images/bg-powerbi.jpg") no-repeat top center;text-align: center;color: #fff;}
.powerbi-box01 h2{font-size: 38px;margin-top: 76px;margin-bottom: 36px;}
.powerbi-box01 p{color: #fefefe;line-height: 24px;font-size: 14px;margin-bottom: 72px;}
.powerbi-box01 .btns{text-align: center;}
.powerbi-box01 .btns .btn-yellow{margin-left: 40px;margin-right: 40px;}
.powerbi-box02{height: 570px;text-align: center;}
.powerbi-box02 img{margin-top: 78px;}
.powerbi-box03{background-color: #f2c812;height: 516px;text-align: center;}
.powerbi-box03 h2{font-size: 38px;color: #000;margin-top: 55px;margin-bottom: 50px;}
.powerbi-box03 ul{overflow: hidden;}
.powerbi-box03 li{float: left;width: 377px;font-size: 16px;line-height: 24px;color:#000;}
.powerbi-box03 li strong{display: block;}
.powerbi-box03 li p{margin-bottom: 24px;}
.powerbi-box03 .app-img{display:inline-block;width: 206px;height: 116px;margin-bottom: 28px;vertical-align: middle;}
.powerbi-box03 .app-img img{display: inline-block;vertical-align: bottom;}
.u-mt20{margin-top: 20px;}
.u-mt15{margin-top: 15px;}

/* whate is power */
.power_info{margin-top:30px;margin-bottom:185px;overflow: hidden;}
.power_info .power_txt{width: 820px;margin-left:auto;margin-right:auto;}
.power_txt small{display: inline-block;vertical-align: super;}
.power_txt small img{display: inline-block;}
.power_txt a,.power_txt a:hover{color: #4276ac;text-decoration: underline;}
.power_info p{margin-bottom:26px;font-size: 14px;color: #101010;line-height: 24px;}
.img_powerbi{display: block;width:856px;height:406px;margin:75px auto 10px;overflow: hidden;}
.img_powerbi img{display: block;}
/*power*/
body{background-color: #fff;}
.section { width:1014px;margin:39px auto 20px;position: relative;overflow: hidden;}
.row {float:left;width:100%;margin-bottom:30px;}
.column{width:100%;position: relative;display: block; }
.table-naked{width:100%;position: relative;display: block; overflow: hidden;}
.table-naked thead tr th.w624{ width:624px;}
.table-naked thead tr th.w195{width:195px;}
h3.text-palette02{float:left;width:100%;margin-bottom:10px;line-height:32px;font-size:24px;color:#f8cc10; text-align: center;}
.table-naked thead tr th p{float:left;width:100%;margin-bottom:22px;line-height:22px;font-size:14px;color:#3f3f3f;text-align: center;}
.button {width:96px;height:37px;line-height:37px;margin:0 auto 22px;border:#000000 2px solid;text-align: center;display: block;font-size:16px;color:#000000;}
.button:hover{background-color: #000;color:#fff;}

.table-features,.table-features tbody{float:left;position:relative;width:1014px;display: block;}
.table-features tr td{ position: relative;line-height:47px;border-bottom:#b8b8b8 1px solid;font-size:16px;color:#3f3f3f;font-weight:bold;}
.table-features tr td.w624{width:624px;}
.table-features tr td.w195{width:195px;  }
.table-features tr td:nth-of-type(2){background-color: #f1f1f1;text-align: center;}
.table-features tr td:nth-of-type(3){background-color: #c4c4c4;text-align: center;}
.h3_tit{float:left;width:100%;border-bottom:#b8b8b8 1px solid;line-height:42px;font-size:22px;color:#000000;}
.icon-flyout{width:14px;height:14px;background:url(../images/icon_tip.png) 0 0 no-repeat;background-size:14px 14px;display: inline-block}
.power_tip{float:left;width:100%;padding-top:15px;padding-bottom:40px;position: relative; overflow: hidden;line-height:20px;font-size:12px;color:#a4a4a4;}
.power_tip_tit {float:left;width:100%;margin-bottom:15px;}
.power_tip_tit span{vertical-align: super;}
.power_tip_tit a,.power_tip_tit a:hover{color:#f8cc10;text-decoration: none;}
.power_tip p {float:left;width:100%;margin-bottom:10px;}
.bom_box{position: absolute;width:338px;height:112px;padding:20px;border:#3f3f3f 1px solid;background-color: #fff;border-radius:0;color:#3f3f3f;box-shadow:none;}
.bom_box.bom01{height:138px;left:-44px;top:92px;}
.bom_box.bom02{height:97px;left: 500px;top: 118px;}
.bom_box.bom03{left: 450px; top: 70px;}
.bom_box.bom04{height:97px;left: -30px; top: 70px;}
.bom_box_tit{width:100%;margin-bottom:16px;line-height:28px;font-size:18px; text-align: left;font-weight:bold;}
.bom_box_txt{float:left;width:100%;line-height:24px;text-align: left;font-size:14px;font-weight:bold;}
.bom_box_txt a,.bom_box_txt a:hover{color:#ba9a10;text-decoration: none;}
.bom_ul{width:100%;position: relative;}
.bom_ul li {float:left;width:98%;padding-left:20px;margin-bottom:6px;background:url(../images/icon_pot.png) 0 2px no-repeat;line-height:17px;font-size:14px; text-align: left;font-family: microsoft yahei;font-weight:bold;}

